@{
    ViewData["Title"] = "購物網站展示";
}

<div id="HomeTool">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Shopaholic 購物網站展示</p>
    </div>

    <section class="content">
        <div class="container-fluid">
            <h5 class="mb-2">每月最多人瀏覽</h5>
            <div class="row" v-if="productFlowTopList">
                <div class="col-md-3 col-sm-6 col-12" v-for="(item) in productFlowTopList" v-bind:key="item.Count">
                    <div class="info-box">
                        <span><img v-bind:src="item.Image" height="50"></span>

                        <div class="info-box-content text-truncate">
                            <a v-bind:href="'/Product/DetailPage/'+item.Id" style="color:red;">
                                <span class="info-box-text">{{ item.Name }}</span>
                            </a>
                            <span class="info-box-number">${{ item.Price }}</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12" v-else>
                <div class="spinner-grow text-secondary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-secondary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-secondary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>

            <h5 class="mb-2">每月最多人購買</h5>
            <div class="row" v-if="productOrderTopList">
                <div class="col-md-3 col-sm-6 col-12" v-for="(item) in productOrderTopList" v-bind:key="item.Count">
                    <div class="info-box">
                        <span><img v-bind:src="item.Image" height="50"></span>

                        <div class="info-box-content text-truncate">
                            <a v-bind:href="'/Product/DetailPage/'+item.Id" style="color:red;">
                                <span class="info-box-text">{{ item.Name }}</span>
                            </a>
                            <span class="info-box-number">${{ item.Price }}</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12" v-else>
                <div class="spinner-grow text-secondary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-secondary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-secondary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts{
    <script>

        Vue.component('validation-provider', VeeValidate.ValidationProvider);
        Vue.component('validation-observer', VeeValidate.ValidationObserver);

        var HomeTool = new Vue({
            el: '#HomeTool',
            data:
            {
                getProductFlowTopApi: baseurl + "/Home/api/GetFlowTopFive",
                getProductOrderTopApi: baseurl + "/Home/api/GetOrderTopFive",
                productFlowTopList: null,
                productOrderTopList: null,
            },
            mounted: function () {
                var self = this;
                self.GetProductFlowTop();
                self.GetProductOrderTop();
            },
            methods:
            {
                GetProductFlowTop: function () {
                    var self = this;
                    axios.post(self.getProductFlowTopApi)
                        .then(function (result) {
                            if (result.data.Success) {
                                self.productFlowTopList = result.data.Data;
                            }
                        }).catch(function (error) { });
                },

                GetProductOrderTop: function () {
                    var self = this;
                    axios.post(self.getProductOrderTopApi)
                        .then(function (result) {
                            if (result.data.Success) {
                                self.productOrderTopList = result.data.Data;
                            }
                        }).catch(function (error) { });
                },
            }
        });

    </script>
}