<div id="HomeTool">
    <br />
    <div class="container-fluid">
        <h2 class="display-8">登入</h2>
        <div class="column">
            <div class="col-md-3 col-sm-6 col-12">
                <div class="info-box">
                    <div class="info-box-content text-truncate">
                        <a asp-controller="Home" asp-action="MsLogin">
                            <i class="fa-brands fa-windows">登入</i>
                        </a>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <div class="info-box">
                    <div class="info-box-content text-truncate">
                        <a asp-controller="Home" asp-action="LoginPage">
                            <i class="fa-brands fa-google">登入</i>
                        </a>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
        </div>
    </div>
</div>