<a asp-controller="Home" asp-action="MsLogin" class="nav-link">
    <i class="fa-brands fa-windows">登入</i>
</a>
<a asp-controller="Home" asp-action="LoginPage" class="nav-link">
    <i class="fa-brands fa-google">登入</i>
</a>