@using Shopaholic.Service.Model.Moels;
@model List<FlowCountDTO>;

@{
    ViewData["Title"] = "Home Page";
}
<!-- Content Header (Page header) -->
<div class="content-header">
    <div id="ChartApp" class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">主控台</h1>
            </div><!-- /.col -->           
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
 

<div id="FlowChartApp" class="card-body p-0">
    <bar-chart />
</div>

@section Scripts{
<script>

    var FlowChartApp = new Vue({
        el: '#FlowChartApp',        
        components:{
            'bar-chart' :{
                extends: VueChartJs.Bar,
                data: () => ({    
                    // Net Core list to Javascript array
                    flowOriginList: JSON.parse('@Html.Raw(Json.Serialize(@Model))'),
                    dateArray: new Array(),
                    flowCountArray: new Array()
                }),
                mounted () {
                    let self = this;

                    for(let i=0;i<self.flowOriginList.length;i++)
                    {
                        self.dateArray.push(self.flowOriginList[i].FlowDate);
                        self.flowCountArray.push(self.flowOriginList[i].Count);
                    }

                    self.renderChart({
                        labels: self.dateArray,
                        datasets: [
                        {
                            label: '瀏覽量',
                            backgroundColor: '#81DAF5',
                            data: self.flowCountArray
                        }]
                    }, {responsive: true, maintainAspectRatio: false})
                }
            }
        }
    });

</script>

}