

@{
    ViewData["Title"] = "購物網站管理介面";
}
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">購物網站管理介面</h1>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->


<div id="FlowChartApp" class="card-body p-0">
    <div id="chart" ></div>
    <div class="d-flex justify-content-center" v-if="!isShow">
        <div class="spinner-grow text-secondary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-secondary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-secondary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    @*<bar-chart/>*@
</div>

<script src="~/js/Home/Index.js"></script>