<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="headline text-danger">500 Error Page</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="error-page">
            <div class="row">
                <h5><i class="fas fa-exclamation-triangle text-danger"></i> Oops! Page not found.</h5>

                <h5>
                    抱歉~出了點狀況，順便展示頁面例外狀況
                    <a asp-controller="Home" asp-action="Index">回首頁</a>
                </h5>
            </div>
            <div class="row" id=doodle_content>
                <css-doodle id="doodle_element">
                    @@grid: 50x1 / 100%;

                    @@place: center;
                    @@size: calc(75% / @@I * @@i);

                    transform: rotate(calc(@@i * 5deg));

                    border-radius: 30%;
                        border: 1px solid hsla(
                        calc(10 + 4 * @@i), 70%, 68%, @@r.8
                    );
                </css-doodle>
            </div>

            <!-- /.error-content -->
        </div>
        <!-- /.error-page -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script src="~/js/Error/Error.js"></script>

<style>
    #doodle_content {
        width: 40vw;
        height: 40vw;
    }

    @@media (max-width: 767.98px) {
        #doodle_content {
            width: 300px;
            height: 250px;
        }
    }

    #doodle_element {
        margin-left: 0;
    }

    @@media (max-width: 767.98px) {
        #doodle_element {
            margin-left: 50px;
        }
    }
</style>