@{
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">新增類別</h1>
            </div><!-- /.col -->           
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<section class="content">
    <div id="FormTool" class="container-fluid">
        <div class="row">
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                <h3 class="card-title">新增類別</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                
                    <div class="card-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">類別名稱</label>
                            <input class="form-control" ref="categoryNameInput" placeholder="輸入類別" v-model="categoryName" v-on:keydown.enter="SubmitBtn">
                        </div>               
                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                        <a v-on:click="SubmitBtn" class="btn btn-primary">Submit</a>
                    </div>
                
            </div>
            <!-- /.card -->
        </div>
    <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>

@section Scripts{

    <script>
      
        var FormTool = new Vue({
            el: '#FormTool',
            data:
            {
                categoryName: '',
                createApi: baseurl + "/Category/api/Add"
            },
            methods:
            {                             
                SubmitBtn: function () {
                    var self = this;
                    console.log('submitBtn click');

                    if (self.ChkPostDataOk()) {
                        self.PostContent(self.GetPostObj());
                    }
                },

                IsEmpty: function (str) {
                    if (!str) {
                        return true;
                    }
                    else if (str.length === 0) {
                        return true;
                    }
                    return false;
                },

                ChkPostDataOk: function () {
                    var self = this;
                    if (self.isEmpty(self.categoryName)) {
                        console.log('ChkPostDataOk isEmpty');
                    }
                    else {
                        console.log('ChkPostDataOk success');
                        return true;
                    }
                    console.log('ChkPostDataOk error');
                    return false;
                },  

                GetPostObj: function () {
                    var self = this;

                    var obj = {
                        ['Name']: self.categoryName
                    };

                    return obj;
                },

                PostContent: function (obj) {
                    var self = this;
                    var url = self.createApi;
                    console.log(url + ' post');
                    axios.post(url, obj)
                        .then(function (result) {
                            console.log('Success:' + result.data.success);
                            console.log('Msg:' + result.data.msg);
                            console.log('Data:');
                            console.log(result.data.data);
                            if(result.data.Success)
                            {
                                location.href = '@Url.Action("Index")';
                            }
                            else
                            {
                                alert('Success:' + result.data.Success + '\n' +
                                        'Msg:' + result.data.Msg);
                            }                           
                        })
                        .catch(function (error) {
                            if( error.response ){
                                console.log(error.response.data); // => the response payload 
                                alert('Success:' + error.response.data.Success + '\n' +
                                        'Msg:' + error.response.data.Msg);
                            }
                            else{
                                alert('post error'); 
                            }
                        });
                },
            }
        });
    </script>

}