<!DOCTYPE html>
<html lang="zh-hant">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shopaholic.Web</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Shopaholic.Web.styles.css" asp-append-version="true" />

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.css"> <!--TODO-->
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/plugins/summernote/summernote-bs4.min.css">

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.20.0/firebase-app.js"></script>
    <!-- TODO: Add SDKs for Firebase products that you want to use
         https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.20.0/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.20.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.20.0/firebase-firestore.js"></script>
    <script>
        // Your web app's Firebase configuration
        var firebaseConfig =
        {
            apiKey: "AIzaSyBlEBx2Anflj2e0Gx7t2QSGEO0R2INVb3E",
            authDomain: "shopaholic-39229.firebaseapp.com",
            databaseURL: "https://thirdpartylogin-9c8ee.firebaseio.com",
            projectId: "shopaholic-39229",
            storageBucket: "shopaholic-39229.appspot.com",
            messagingSenderId: "317632759938",
            appId: "1:317632759938:web:0906e9340ca583de20cc9b",
            measurementId: "G-WH2CJD2CFX"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        firebase.analytics();
    </script>
</head>
<body>
    <div class="wrapper">

        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="~/dist/img/Shopaholic-logo.png" alt="AdminLTELogo" height="60" width="60">
        </div>

        <!-- Navbar -->
        <nav id="LayoutTopBarTool" class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
                </li>
                <li class="nav-item d-sm-inline-block">
                    <a asp-controller="Home" asp-action="GoToCMS" class="nav-link">管理後台</a>
                </li>
                @*<li class="nav-item d-none d-sm-inline-block">
                    <a asp-controller="Home" asp-action="Privacy" class="nav-link">TestAuth</a>
                </li>*@
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Navbar Search -->
                <li class="nav-item">
                    <a class="nav-link" data-widget="navbar-search" href="#" role="button">
                        <i class="fas fa-search"></i>
                    </a>
                    <div class="navbar-search-block">
                        <form class="form-inline">
                            <div class="input-group input-group-sm">
                                <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search" v-model="layoutSearchStr">
                                <div class="input-group-append">
                                    <button class="btn btn-navbar" v-on:click.prevent="LayoutSearchBtn">
                                        <i class="fas fa-search"></i>
                                    </button>
                                    <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>

                <li class="nav-item" v-if="!isLogin">
                    <a asp-controller="Home" asp-action="LoginPage" class="nav-link">
                        <i class="fa-brands fa-google">登入</i>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#" v-if="isLogin">
                        <i class="fa-solid fa-user-astronaut">會員資料</i>
                        <span v-if="cartCount>0" class="badge badge-danger navbar-badge">!?</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-md dropdown-menu-right">
                        <a asp-controller="Cart" asp-action="Index" class="dropdown-item text-center">
                            <i class="fa-solid fa-cart-arrow-down">
                                <span v-if="cartCount>0" class="badge badge-danger navbar-badge">!?</span>
                                購物車
                            </i>
                        </a>
                        <a asp-controller="Order" asp-action="Index" class="dropdown-item text-center">
                            <i class="fa-regular fa-file-lines">訂單</i>
                        </a>
                        <a class="dropdown-item text-center" v-on:click="Logout">
                            <i class="fa-solid fa-right-from-bracket">登出</i>
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-light-primary elevation-4">
            <!-- Brand Logo -->
            <a asp-controller="Home" asp-action="Index" class="brand-link">
                <span class="brand-text font-weight-bold">Shopaholic.Web</span>
            </a>

            <!-- Sidebar -->
            <div id="LayoutApp" class="sidebar">
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                            with font-awesome or any other icon font library -->
                        <div v-if="categoryList">
                            <li class="nav-item" v-for="(item) in categoryList" v-bind:key=item.Id>
                                <a class="nav-link" v-bind:href="'/Product/Index/?CategoryId='+item.Id">
                                    <i class="fa-brands fa-envira"></i>
                                    <p class="font-weight-bold">
                                        {{ item.Name }}
                                    </p>
                                </a>
                            </li>
                        </div>
                        <div v-else>
                            <div class="spinner-grow text-secondary" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-secondary" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-secondary" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>

                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            @RenderBody()

        </div>
        <!-- /.content-wrapper -->

        <footer class="main-footer">
            <strong>Copyright &copy; 2021 Shopaholic</strong>
            All rights reserved.
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->

    </div>

    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Sparkline -->
    <script src="~/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="~/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/plugins/moment/moment.min.js"></script>
    <script src="~/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.js"></script>
    <!-- SweetAlert2 -->
    <script src="~/plugins/sweetalert2/sweetalert2.all.min.js"></script>

    <!--          My js            -->
    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Vue.js Ajax(axios) -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- vue-easy-lightbox -->
    <script src="https://unpkg.com/vue-easy-lightbox@vue2/dist/vue-easy-lightbox.umd.min.js"></script>
    <!-- 表單驗證 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vee-validate/3.4.14/vee-validate.full.min.js"></script>
    <!-- Font Awesome   -->
    <script src="https://kit.fontawesome.com/4206fe85f1.js" crossorigin="anonymous"></script>

    <!-- 雜 -->
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/ExceptUtil.js"></script>
    <script src="~/js/PageUtil.js"></script>
    <script src="~/js/ValiUtil.js"></script>
    <!-- SweetAlert2 -->
    <script src="~/js/ToastUtil.js"></script>


    <script>
        var baseurl = window.location.origin;
        var provider = new firebase.auth.GoogleAuthProvider();

        // 登入狀態變換
        firebase.auth().onAuthStateChanged(function (user) {
            if (user) {
                // User is signed in.
                LayoutTopBarTool.isLogin = true;
                // LayoutTopBarTool.ChkLoginState();
                LayoutTopBarTool.GetCartCount();
            }
            else {
                LayoutTopBarTool.isLogin = false;
            }
        });

        var LayoutApp = new Vue({
            el: '#LayoutApp',
            data:
            {
                getCategoryListApi: baseurl + "/Home/api/GetCategoryList",
                categoryList: null,
            },
            mounted: function () {
                var self = this;
                self.InitUI();
            },
            methods:
            {
                InitUI: function () {
                    var self = this;

                    axios.post(self.getCategoryListApi)
                        .then(function (result) {
                            if (result.data.Success) {
                                self.categoryList = result.data.Data;
                            }
                            else {
                                ToastUtil.ErrorAlert('Success:' + result.data.Success + '\n' +
                                    'Msg:' + result.data.Msg)
                            }
                        })
                        .catch(function (error) {
                            ExceptUtil.PostExceptionFuc(error);
                        });
                }
            }
        });

        var LayoutTopBarTool = new Vue({
            el: '#LayoutTopBarTool',
            data:
            {
                isLogin: false,
                logoutApi: baseurl + '/Auth/api/Logout',
                chkLoginStateApi: baseurl + '/Auth/api/ChkExist',
                getCartCountApi: baseurl + '/Cart/api/Count',
                cartCount: 0,
                layoutSearchStr: '',
            },
            mounted: function () {
                var self = this;
            },
            methods:
            {
                Logout: async function () {
                    var self = this;
                    ToastUtil.InfoFire('登出中...');
                    firebase.auth().signOut().then(async function () {
                        // Sign-out successful.
                        await axios.post(self.logoutApi)
                            .then(function (result) {
                                if (result.data.Data) {
                                    console.log('Logout')
                                    self.isLogin = false;
                                }
                                else {
                                    ToastUtil.ErrorAlert('Success:' + result.data.Success + '\n' +
                                        'Msg:' + result.data.Msg)
                                }
                            })
                            .catch(function (error) {
                                ExceptUtil.PostExceptionFuc(error);
                            });
                    }).catch(function (error) {
                        // An error happened.
                        ToastUtil.ErrorAlert('Firebase logout error')
                    });
                },

                ChkLoginState: async function () {
                    var self = this;
                    await axios.post(self.chkLoginStateApi)
                        .then(function (result) {
                            if (!result.data.Data) {
                                firebase.auth().signOut().then(async function () { }).catch(function (error) { });
                            }
                        }).catch(function (error) {
                            ExceptUtil.PostExceptionFuc(error);
                        });
                },

                GetCartCount: function () {
                    var self = this;
                    var cart = localStorage.getItem('Cart');
                    if (cart) {
                        self.cartCount = 1;
                    }
                    else {
                        self.cartCount = 0;
                    }
                },

                PutCart: function () {
                    var self = this;
                    localStorage.setItem('Cart', true);
                    self.GetCartCount();
                },

                ClearCart: function () {
                    var self = this;
                    localStorage.removeItem('Cart');
                    self.GetCartCount();
                },

                LayoutSearchBtn: function () {
                    var self = this;
                    if (self.layoutSearchStr) {
                        location.href = baseurl + '/Product/Index/?SearchStr=' + self.layoutSearchStr;
                    }
                }
            },
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
